/* public/styles.css */

body {
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  h1 {
    margin-top: 50px;
  }
  
  #scoreUpdate {
    margin-top: 20px;
    font-size: 24px;
  }
  